@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  src: url('fonts/TitilliumWeb-Regular.ttf') format('truetype');
}


/* Global Styles */
body {
    font-family: 'bebas neue', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
}

nav {
    background-color: black;
    color: #333;
	width: 100%;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
	align-content: center;
    position: fixed;

    padding: 10px 0;
    max-height: 50px;
    overflow: hidden;
    border-bottom: 1px groove #C5C5D2;
    align-content: center;
    justify-content: center;

}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    cursor: default;
}

h1, h2 {
    color: #fff;
    font-family: 'Titillium Web';
}

p {
    font-family: 'Bebas Neue';
    color: #fff;
}

/* Navigation Bar Styles */

.navbar {
    max-width: 1200px;
	background:black;
    margin: 0 auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center; /* Align elements at the center */
    max-height: 35px;

}

.nav-links {
    margin: 0;
	margin-left: 10px;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-links li {
    padding-left: 5px;
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-family: 'bebas neue';
	font-size:18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    text-decoration: underline;
}

.login-section {
    margin: 0;
	margin-right: 2%;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-right {
    margin-left: 10px;
    height: min-content ;
}

.nav-right a {
	color: #fff;
	text-decoration: none;
	font-family: 'bebas neue';
	font-size:18px;
	transition: color 0.3s ease;
}

.nav-right a:hover{
	text-decoration: underline;
}

.nav-left {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.nav-logo {
    margin: 0;
    padding: 0;
    max-height: 50px;
}

/* New Code to Align Login and Signup to Right */
.login-section {
    margin-left: auto;
}



/* Styles for "Login" Link */
.login-section .nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-links .nav-link:hover {
    text-decoration: underline;
}

.login-section .nav-link:hover {
    text-decoration: underline;
}


/* Section Styles */
section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 10px;
	color:#fff;
	
}

section ul, section ol {
    margin: 0;
    padding-left: 20px;
	color:#fff;
}

/* Intro Section */
.intro-section {
	margin:30px;
	padding-top: 90px;
	margin-left: 90px;
	margin-right: 0;
	margin-bottom: 100px;
	display: block;
}

.intro-section h1{
	font-size: 90px;
	font-weight: 100;
	line-height: 80px;	
}

.intro-cta{
	display: inline-flex;
	align-items: flex-end;
	flex-wrap: wrap;
	
}

.intro-cta p {
	margin:0;
	padding: 0;
	margin-left:20px;
	font-family: 'bebas neue';
	text-decoration: underline;
	font-size: 20px;
	font-weight: 100;
	
}

.intro-cta p:hover{
	text-decoration-color: #6E6E80;
	cursor: pointer;
}

.intro-cta button {
	font-size: 18px;
}

/*Demo Video */

.demo-video {
	display: block;
	margin-top: 40px;
	margin-left: 90px;
}


/* Features Section */

.features {
	border-top: 1px solid #fff;
	margin-top:60px;
}

.page-headers {
	margin-top:10px;
	font-size: 30px;
	font-weight: 200;
	line-height: 40px;
}


/* Plugin Features Box Styles */
.feature-boxes {
	margin-top:60px;
	width:100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-box {
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: black;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
}

.feature-box img {
    max-width: 100px;
    margin-bottom: 15px;
}

.feature-box h3 {
	font-size: 18px;
	font-weight: 600;
	color:#fff
}
.feature-box p {
    font-size: 18px;
	font-weight: 100;
	font-family: "bebas neue";
	text-align: justify;
    color: #fff;
}


/* Get started Section */

.get-started {
    margin-top: 60px;
    border-top: 1px solid #FFF;
}

.started-grid {
    margin-top: 30px;
    margin-bottom: 30px;
	display:inline-block;
}

.how-to-start {
    display: block;
    margin: 0;
    max-width: 40%;
	float: left;
	line-height: 30px;
	font-size: 19px;
}

.how-to-start li{
	font-family:"bebas neue";
	margin-bottom:25px;
}

.engines-available {
	height: 100%;
	float: right;
}

.engine-logo{
	min-height: 180px;
	max-width: 450px;
	margin: 20px;
	margin-bottom: 0;
	margin-top:0;
}
.started-hs {
	color: #fff;
	font-family: 'Bebas Neue';
	font-weight: 200;
	font-size: 25px;
	font-family: 'bebas neue';

}

/* Call to Action Button Styles */
.button {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
	border: 1px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button:hover{
	cursor: pointer;
}

.button:hover {
    background-color: #fff;
	color: black;
}

/*Start Trial Section */

.start-trial{
	display: block;
	border-top: 1px solid #fff;
	text-align: center;
}

.start-trial h2{
	text-align: left;
}

.start-trial button {
	height: 60px;
	font-size:20px;
}

/* Footer Styles */
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-logo {
        margin-bottom: 10px;
    }

    .nav-links {
        flex-direction: row;
        margin-left: 0;
    }

    .nav-links li {
        margin: 0 15px;
    }

    .nav-buttons {
        margin-top: 10px;
    }

    .nav-buttons .nav-link {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .intro-section {
        margin-left: 20px;
    }

    .intro-section h1 {
        font-size: 42px;
        line-height: 48px;
    }

    .intro-cta {
		display: inline-flex;
		width: 100%;
    }

    .intro-cta p {
        margin-left: 20px;;
        margin-top: 10px;
		
    }
}

@media (max-width: 768px) {
    .demo-video {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .feature-boxes {
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        margin: 20px 0;
    }

    .feature-box p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .get-started .started-grid {
        flex-direction: column;
    }

    .how-to-start {
        max-width: 100%;
        float: none;
    }

    .engines-available {
        float: none;
        text-align: center;
    }

    .engine-logo {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    .start-trial h2 {
        text-align: center;
    }

    .start-trial button {
        width: 100%;
        margin-top: 10px;
    }
}


@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        margin: 0 10px;
    }

    .nav-buttons {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
	
	.how-to-start {
        width: 60%;
    }

    .engines-available {
        width: 40%;
    }
