@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  src: url('fonts/TitilliumWeb-Regular.ttf') format('truetype');
}


/* Global Styles */

*{
	font-family: 'Bebas Neue', sans-serif;
	
}
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff;
    color: #333;
	width: 100%;
    overflow: hidden;
    display: flex;
    margin: 0 auto;
	align-content: center;
    position: fixed;
    padding: 10px 0;
    max-height: 50px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
	border-bottom: 1px solid #ddd;

}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4 {
	font-family:'Titillium Web';
}

h4{
	color:#6E6E80;
}

p {
	font-family:'Bebas Neue';
	color:#6E6E80;
	font-weight:300;
	font-size:16px;
}

.navbar {
    max-width: 1200px;
	background:#fff;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 35px;

}

.nav-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-links li {
    padding-left: 5px;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
	font-size:15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    text-decoration: underline;
}

.login-section {
    margin: 0;
	margin-right: 2%;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.login-section .button {
	color: #fff;
}

.nav-right {
    margin-left: 10px;
    height: min-content ;
}

.nav-right a {
	color: #6E6E80;;
	text-decoration: none;
	font-size:15px;
	transition: color 0.3s ease;
}

.nav-right a:hover{
	text-decoration: underline;
}

.nav-left {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.nav-left a{
	 color: #6E6E80;
}

a.present-page {
	color:#10A37F;
}


.nav-logo {
    margin: 0;
    padding: 0;
    max-height: 50px;
}


.login-section {
    margin-left: auto;
}



/* Styles for "Login" Link */
.login-section .nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-links .nav-link:hover {
    text-decoration: underline;
}

.login-section .nav-link:hover {
    text-decoration: underline;
}


.nav-buttons .button:hover {
    color: #10A37F;
}

/* Section Styles */
section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 10px;
}

section ul, section ol {
    margin: 0;
    padding-left: 20px;
}

/* Intro Section */
.intro-section {
	margin:30px;
	padding-top: 30px;
	display: block;
}

/* Plugin Features Box Styles */
.feature-boxes {
	width:100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-box {
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    text-align: center;
}

.feature-box img {
    max-width: 100px;
    margin-bottom: 15px;
}

.feature-box h3 {
	font-size: 18px;
	margin-bottom: 40px;
	
}


.pricing-tables {
	list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; 
    column-count: 2;
    column-gap: 20px;
	border-bottom: 1px solid #fff;
}

.pricing-tables li {
	margin-bottom: 5px;
	
}

.align-right{
	text-align: end;
	font-size: 16px;
	font-weight: 100;
	color:#6E6E80;
}

.price-month {
	display: inline-flex;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	column-count: 2;
	column-gap: 1px;	
}

.free{
	font-size:20px;
}
.price-month h4, p {
	min-width: 50%;
}

.price-month h4{
	text-align: end;
	font-size:20px;
}

.highlight-box {
	border: 1px groove #10A37F;
	width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.highlight-header{
	color:#10A37F;
	margin-bottom:40px;
}
.price-highlight {
	color: #10A37F;
}

.price-month p {
	text-align: left;
}

.smoother-button {
	background-color: #fff;
	border: 1px solid #10A37F;
	padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
	color:#10A37F;
}

.smoother-button:hover {
	background-color: #10A37F;
	color: #fff;
}


/* Call to Action Button Styles */
.button {
    background-color: #10A37F;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
	border:none;
}

.button:hover {
    color: #10A37F;
	cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #fff;
    color: #fff;
	width: 100%;
    text-align: center;
    padding: 20px;
	border-top: 1px solid #ddd;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 18px;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #6E6E80;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-copy {
    font-size: 14px;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        margin: 0 10px;
    }

    .nav-buttons {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

 @media (max-width: 768px) {
	.feature-boxes {
        flex-direction: column;
    }

    .feature-box {
        width: 100%;
    }
}
