h1,
h2,
* {
  color: #fff;
}

main.lp {
  > div {
    max-width: 1280px;
    margin: auto;
  }
}

.lp{
  max-width: 1280px;
}
/* Section Styles */
section {
  margin-bottom: 30px;
}


.lp footer {
  color: black;
}
/* Intro Section Styles */

.intro-section h1 {
  margin-right: 2%;
  line-height: 100px;
  margin-bottom: 60px;
}
.intro-cta {
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.intro-cta p {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  text-decoration: underline;
  font-family: 'Bebas Neue';
  font-size: 25px;
  font-weight: 100;
}

.intro-cta p:hover {
  text-decoration-color: #fff;
  cursor: pointer;
}

.intro-cta button {
  font-size: 25px;
  font-family: 'Bebas Neue';
}

.intro-cta button:hover {
  color: #6200ee;
}

.shiny{
  transition: background 0.6s ease-in-out !important;
  text-decoration: none;
  border-radius: 7px;
}

.shiny:hover{
  background: linear-gradient(135deg, #1a1a1a, #303030, #6200ee, #303030, #1a1a1a) !important;
  background-size: 200% 200% !important;
  animation: metallic-shine 1.5s ease-in-out forwards !important;
  color:#fff !important;
}

@keyframes metallic-shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}
/*Demo Video */

.demo-video {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

}


/* Features Section */

.features {

  margin-top: 60px;
  margin: auto;
}

.page-headers {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 200;
  line-height: 40px;

}

/* Plugin Features Box Styles */
.feature-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-width: 1280px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.feature-box {
  display: flex;
  align-items: center;
  background-color: black;
  border: 1px solid #6e6e80;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
}

.feature-image {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.feature-box:hover .feature-image {
  transform: rotate(5deg);
}

.feature-content {
  color: white;
}

.feature-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 16px;
  text-align:start;
}


.button-display {
  text-align: center !important;
  border-bottom: 1px solid #6e6e80;
}

.button-display button {
  font-size: 20px !important;
  height: 60px;
  margin-bottom: 30px;
}
/* Get started Section */

.get-started {
  margin-top: 60px;
  border-top: 1px solid #6e6e80;
  margin: auto;
  button{
    margin-bottom: 40px;
  }
}

.how-to-start {
  display: block;
  margin: 0;
  line-height: 30px;
  font-size: 19px;
  margin-top: 30px;
}

.how-to-start li {
  margin-bottom: 25px;
  min-width: 120%; /* Make the list items fill the full width */
}


.engines-available {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.engine-logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 15px; /* Space between logos */
  width: 100%; /* Ensure grid takes full width of the column */
}

.engine-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.engine-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.engine-logo:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 999px) {
  .engines-available,
  .plugin-explain {
    min-width: 100% !important;
    text-align: center;
    ol{
      margin: auto;
      text-align: center;

    }
    li{
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .engine-logo-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .engine-logo-grid {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}

.how-to-start {
  padding-left: 15px;
  font-size: 18px;
  color: #ccc;
}

.how-to-start li {
  margin-bottom: 15px;
}

.page-headers {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.started-hs {
  color: #fff;
  font-weight: 200;
  font-size: 25px;
}

.code-section {
  padding: 0;
  margin: 0;
}



.code-display {
  max-width: 92%;
  overflow-x: auto;
  margin: auto;
}

.code-block {
  text-align: left;
}

.code-style {
  font-family: monospace;
  font-size: 16px;
  white-space: pre-wrap;
}

.typed-display {
  display: block;
  max-width: 100%;
  margin-top: 0;
  font-family: monospace;
  font-size: 16px;
  border: 1px solid #6e6e80;
  border-radius: 7px;
  padding: 5px;
}
.typed-message {
  background-color: rgba(98, 0, 238, 0.6);
  padding: 3px;
  white-space: pre-wrap;
  max-width: 100px !important;
  font-family: inherit;
  font-size: inherit;
}

.typed-cursor {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: #6200ee;
  margin-left: 4px; /* Adjust the margin as needed */
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Call to Action Button Styles */

.button:hover {
  cursor: pointer;
}

/*Start Trial Section */


.start-trial {
  display: block;
  border-top: 1px solid #6e6e80;
  text-align: center;
}

.no-border{
  border-top:none !important;
}

.start-trial h2 {
  text-align: center;
}

.start-trial button {
  height: 60px;
  font-size: 20px;
  font-family: 'Bebas Neue';
}

.start-trial button:hover {
  color: #6200ee;
}

/* Footer Styles */
footer {
  background-color: black;
  color: #6e6e80;
  text-align: center;
  padding: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-logo {
    margin-bottom: 10px;
  }

  .nav-links {
    flex-direction: row;
    margin-left: 0;
  }

  .nav-links li {
    margin: 0 15px;
  }

  .nav-buttons {
    margin-top: 10px;
  }

  .nav-buttons .nav-link {
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .demo-video {
    margin-left: 20px;
  }

  .intro-section h1 {
    font-size: 400%;
    line-height: 80px;
  }

  .intro-cta {
    width: 100% !important;
    align-items: center !important;
  }

  .intro-cta button {
    font-size: 22px !important;
    padding: 20px;
    width: 45% !important;
  }

  .intro-cta p {
    font-size: 22px !important;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 7px;
    text-decoration: none;
  }

  .intro-cta p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .feature-box {
    flex-direction: column;
    text-align: center;
  }

  .feature-image {
    margin: 0 0 10px 0;
    max-width: 150px;
  }
}

@media (max-width: 960px) {
  .feature-boxes {
    flex-direction: column;
    align-items: center;
  }

  .feature-box {
    margin: 20px 0;
  }

  .feature-box p {
    font-size: 20px;
  }
}
@media (max-width: 1280px) {
  .feature-boxes {
    flex-wrap: wrap !important;
  }

  .feature-box {
    max-width: 50% calc(50% - 400px) !important;
    margin: 24px !important;
  }
}

@media (max-width: 820px) {
  .get-started .started-grid {
    flex-direction: column;
  }

  .plugin-explain {
    margin: auto;
    cols: 12 !important;
    min-width: 100% !important;
  }
  .how-to-start {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 10%;
  }
  .how-to-start li {
    text-align: center;
    font-size: 22px;
  }

}

.start-trial .button {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .page-headers {
    text-align: center;
  }
  .start-trial {
    margin: auto !important;
  }

  .start-trial h2 {
    text-align: center;
  }

  .start-trial button {
    width: 100%;
    margin-top: 10px;
  }

}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .how-to-start {
    width: 60%;
  }


}
@media (max-width: 600px) {
 .intro-cta {
  text-align: center;
  align-items: center;
  display: block;
 }

  .cta-button-section{
    min-width:100% !important;
    text-align: center;
    margin: auto !important;
  }
  .cta-doc-section{
    min-width: 100% !important;
    text-align: center;
    margin: auto !important;
  }

  .intro-cta button {
    min-width: 100%;
    margin-bottom: 20px;
  }
  .intro-cta p {
    margin-left: 0 !important;
  }

  .feature-box {
    max-width: 280px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
