@font-face {
  font-family: "Bebas Neue";
  src: url("fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Titillium Web";
  src: url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoSans";
  src: url("fonts/NunitoSans-Regular.ttf") format("truetype");
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -20px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}
* {
  font-family: "NunitoSans";
  // color: #fff;
}
/* Global Styles */
html,
body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

main.lp {
  max-width: unset;
  margin: 0 auto;
  padding: 20px;
  // background-color: black;
}

h1,
h2 {
  color: #333;
  font-family: "Titillium Web";
}


.nav-links li {
  padding: 0;
}

.nav-links a {
  color: #6e6e80;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  
}

.nav-links a:hover {
  text-decoration: underline !important;
}

.nav-buttons {
  display: inline-flex;
  align-items: center;
  max-height: 20px;
}

/* Styles for "Login" Link */
.nav-buttons .nav-link {
  color: #6e6e80;
  text-decoration: none;
  margin: 0;
  padding: 5px 10px;
  font-size: 14px;
  transition: color 0.3s ease;
  font-family: "Bebas Neue";
}

/* Section Styles */
section {
  margin-bottom: 30px;
}

section h2 {
  margin-bottom: 10px;
}

section ul,
section ol {
  margin: 0;
  padding-left: 20px;
}

/* Intro Section */
.intro-section {
  display: block;
}

.intro-section h1 {
  font-size: 90px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .intro-section {
    margin-left: 20px;
  }

  .intro-section h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .intro-cta {
    display: inline-flex;
    width: 100%;
  }

  .intro-cta p {
    margin-left: 20px;
    margin-top: 10px;
  }
}

/* Plugin Features Box Styles */
.feature-boxes {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-box {
  width: 250px;
  margin: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.feature-box img {
  max-width: 100px;
  margin-bottom: 15px;
}

.feature-box h3 {
  font-size: 18px;
  text-align: left;
  font-family: "Titillium Web", sans-serif;
}


/* Call to Action Button Styles */
.button {
  display: inline-block;
  background-color: #6200EE;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  line-height: normal;
  cursor: pointer;
  font-family: "Bebas Neue";
}

.button:hover {
  color: #6200EE;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li:not(:nth-child(1)) {
    margin: 0 10px;
  }

  .nav-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    .feature-boxes {
      flex-direction: column;
    }

    .feature-box {
      width: 100%;
    }
  }
}
